#Ignore temp files
*~


# Ignore other temp files
\#*#

# Ignore my dumb .txt files
*.txt

.\#*


# Ignore python virtualenv directories
/**/env



/build/

.settings
.externalToolBuilders
.factorypath
dot
*.log
ex1/sketches/*.cpp
